<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        DEVBLOG
      </h1>
    </header>
    <nav class="nav">
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logOut">Log Out</button>
      {{else}}
        <a href="/login">Log In</a>
      {{/if}}
    </nav>
    <br>
    <div>
      {{#if loggedIn}}
        <form>
          <label for="subject">Write A Post!</label>
          <input type="text" id="sub" name="subject" />
         <br>
          <label for="body"></label>
          <textarea id="body" name="body" rows="10" cols="80"></textarea>
          <br>
          <button id="newPost"> Publish </button>
        </form>
      {{/if}}
    </div>
    <main>
      {{{body}}}
    </main>
  </body>
  {{#if loggedIn}} 
  <script src="./js/logout.js"></script> 
  <script src="./js/newpost.js"></script>
  {{/if}}
</html>