<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        DEVBLOG
      </h1>
    </header>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
        <button id="logOut">Log Out</button>
      {{else}}
        <a href="/login">Log In</a>
      {{/if}}
    </nav>
    <br>
    <main>
      {{{body}}}
    </main>
  </body>
  {{#if loggedIn}} 
  <script src="./js/logout.js"></script> 
  <script src="./js/newpost.js"></script>
  <script src="../js/comment.js"></script>
  <script src="../js/delpost.js"></script>
  <script src="../js/updatepost.js"></script>
  {{/if}}
</html>