<div>
  <h2>Login</h2>
  <form>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" />
    </div>
    <br />
    <div>
      <button id='logInBtn' type="submit">Log In</button>
    </div>
  </form>
</div>
<br />
<div>
  <a href="/signup"> Sign Up Here! </a>
</div>
<script src="./js/login.js"></script> 