<div>
    <h2>Signup</h2>
    <form> 
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <br>
      <div>
        <button id='signUpBtn'>Sign Up</button>
      </div>
    </form>
  </div> 

  <script src="./js/signup.js"></script>