:root {
  --purple: rgb(88, 154, 225);
  --offwhite: rgba(120, 128, 128, 0.897);
}

body {
  background-color: var(--offwhite);
}

a {
  text-decoration: none;
}

textarea {
  border-radius: 10px;
  background-color: rgba(251, 251, 251, 0.897);
}

.navbar-brand {
  margin-left: 10px;
  color: var(--purple);
}

/* ----------- home page --------- */

.blogfeed {
  margin-left: 8%;
}

.feed {
  border: solid 1px black;
  margin-bottom: 10px;
  border-radius: 5px;
  min-width: 600px;
  padding: 5px;
  color: rgb(42, 42, 42);
}

.writeanewblog {
  display: grid;
  place-items: center;
  margin-right: 10%;
}

/* ----------- login page --------- */
.loginform {
  display: grid;
  place-items: center;
  margin-top: 7%;
}

.loginbtn {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
}

.signupbtn {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30%;
}

/* ------------------ comments --------------------- */

.comment {
  border: solid 1px black;
  width: 50%;
  border-radius: 5px;
  padding: 5px;
}

/* ------------------ signature --------------------- */

.sig {
  font-size: 11px;
  color: rgb(143, 183, 227);
}

/* ------------------ input --------------------- */

input {
  border-radius: 5px;
}

/* ------------------- dashboard -------------------- */
.updatepanel {
  display: grid;
  place-items: center;
  margin-top: 1%;
  margin-right: 20%;
}

.dashheader {
  display: grid;
  place-items: center;
  margin-right: 20%;
  margin-bottom: 7%;
}
